# Backend API Framework
fastapi
uvicorn
python-multipart

# Frontend GUI Framework
PyQt6

# HTTP Client
requests

# Core ML
torch
torchvision
torchaudio
rembg
numpy
scikit-learn

# Image Processing
opencv-python
Pillow
pillow
albumentations

# CLIP and Vision Models
clip @ git+https://github.com/openai/CLIP.git
timm
# Similarity Search
faiss-cpu

# Data Management
pandas
h5py

# Utilities
pyyaml
tqdm
pydantic
matplotlib
seaborn

# xformers

# Experiment Tracking
# mlflow
# tensorboard
# wandb